                                                                                                                                                                          

body {
    background-color: papayawhip;
    text-align: center;
}

header {
    background-color: rgb(202, 244, 244);
    text-align: center;
    padding: 1%;
    padding-bottom: 2%;
    color: rgb(91, 90, 90);
    font-size: large;
    font-family: sans-serif;
}

header a {
    font-size: 115%;
    padding: 1%
}

footer {
    text-align: left;
    padding: 2%;
    background-color:rgb(202, 244, 244);
    font-family: sans-serif;
}

article {
    font-family: serif;
}

.content-header {
    text-align: center;
    background-color:rgb(202, 244, 244);
    padding: 2%;
    border-radius: 25px;
}



